
@{
    ViewBag.Title = "Thanks";
}

@*<div class="about page-group">
    <h1 class="interior">Thanks!</h1>

    <div class="content">
        <p>We've received your message, we'll get back to you via email within 24 hours.</p>
    </div>
    @Html.Partial("_right-col")

</div>*@

<main class="container">
    <h1 class="page-title">Thanks!</h1>
    <div class="row">
        <div class="col-xs-12 col-md-6 about">
            <p>We've received your message, we'll get back to you via email within 24 hours.</p>
        </div>

        @Html.Partial("_right-col")
    </div>

</main>
