/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

@mixin clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

html 
{
    min-width: 1024px;
}

html,
button,
input,
select,
textarea {
    color: #222;
	// min-width: 1024px;
}

body {
    font-size: 1.2em;
    line-height: 1.4;
    border-top: 6px solid #c94e15;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical !important;
    max-width: 858px;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* General Variables
========================================================================== */
$img: "/Content/themes/base/images";

$estimateWidth: 900px;

/* Colors
========================================================================== */
$orange: #c94e15;
$white: #FFF;
$lt-brown: #8f8377;
$dk-brown: #222; 
$lt-grey: #acaba9;

$label-dk-grey: #3f3e39;
$form-dk-grey: #73726e;

$bord-lt-brown: #473727;
$red: #FF0000;

$block-brown: #3b2c1c;
$block-grey: #666;

/* Mixin
========================================================================== */
@mixin BodyFont
{
    font-family: 'Oswald', sans-serif;
    font-size: 13px;
    font-weight: 400;
}

@mixin BodyFontBold
{
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    font-weight: 700;
}


@mixin button
{
    font-family: 'Georgia', serif;
    font-style: italic;
    font-size: 22px;
    background: $orange;
    padding: 10px 40px;
    border: 3px solid $lt-brown;
    color: $white;
    width: 380px;
    text-align: center;
    margin: 0 auto;
    text-decoration: none;
    display: block;
}

@mixin gen-button
{
    font-style: normal;
    font-size: 14px;
    background: $white;
    padding: 5px;
    border: none;
    color: $dk-brown;
    border: 1px solid $dk-brown;
    width: auto;
    text-align: center;
    text-decoration: none;
}

/* Global Elements
========================================================================== */

.container 
{
    width: auto;
    padding: 0;
}

body
{
    background: url(#{$img}/img-background-texture.png); 
    @include BodyFont;
}

ul 
{
    list-style: none;
}

a,
a:visited,
a:active,
a:hover
{
    color: $orange;
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
}

a.btn,
input[type="submit"].btn
{
    @include button;
}

.contact 
{
    input[type="submit"].btn
    {
        width: 401px;
        margin-top: 10px;
    }

    input[type="text"]
    {
        margin-bottom: 10px;
    }
}

input[type="submit"].btn
{
    margin: 0;
}

a.btn.next
{
    clear: both;
    // width: 100%;
}

a.btn:hover
{
    color: $orange;
    background: $dk-brown;
}

a.big-estimate
{
    font-size: 38px;
}

h1
{
    font-size: 26px;
    color: $dk-brown;
    padding: 20px 0 20px 0;
    text-transform: uppercase;
}

h1.interior
{
    padding: 20px 0 20px 0;
    margin: 0;
    //margin-left: 146px;
}

h1.home-text
{
    text-transform: none;
}

h2
{
    color: $label-dk-grey;
    font-size: 18px;
    margin-bottom: 7px;
}

p
{
    line-height: 20px;
}

.home-or
{
    width: 609px;
    height: 50px;
    background: url(#{$img}/img-home-or.png) 0 0 no-repeat;
    margin: 20px auto;
}

.short-message
{
    font-size: 12px;
    color: $dk-brown;
    padding-top: 10px;
    text-align: center;
}

.call-us
{
    font-size: 15px;
    text-align: center;
    margin-top: 10px;
}

.phone 
{
    text-align: center;
    @include BodyFontBold;
    font-size: 20px;
}

.logo
{
    width: 273px;
    height: 245px;
    margin: 25px auto;
    padding: 20px 0 10px 0;
}

.page-group
{
    //float: left;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    max-width: $estimateWidth;

    p 
    {
        line-height: 30px;
        font-size: 18px;
        font-weight: 300;
    }
}

.content
{
    float: left;
    width: 520px;
    margin-right: 45px;
    //margin-left: 146px;
    //overflow: hidden;
    font-size: 15px;
    margin-bottom: 25px;
    min-height: 500px;
}

.right-col
{
    float: left;
    margin-top: -30px; 

    .btn
    {
        width: 285px;
        padding: 10px 22px;
        font-size: 18px;
    }

    .phone
    {
        margin-bottom: 10px;
    }
}

ol 
{
    li
    {
        font-size: 16px;
        margin-bottom: 15px;
        font-weight: 300;
    }
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: top;
    border-left: 10px solid #FFF;
    border-right: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    content: "";
    position: relative;
    top: -2px;
    left: 9px;
}


#spinner
{
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    opacity: .85;
    z-index: 100;
    left: 0;
    top: 0;
    display: none;

    .working 
    {
        color: white;
        font-size: 18px;
        text-align: center;
        //width: 150px;
        margin: 0 auto;
        margin-top: 20%;
    }

    img 
    {
        width: 300px;
        margin: 0 auto;
        display: block;
    }
}

#inlineSpinner
{
    position: absolute;
    display: none;
    left: 10px;
    top: 3px;

    span
    {
        font-size: 12px;
        margin-left: 10px;
        color: $dk-brown;
        margin-top: -16px;
        display: block;
        position: relative;
        left: 17px;
    }
}

.ui-datepicker-trigger
{
    border: none;
    background: none;
}

.contactUs-estimate
{
    font-size: 18px;
    font-weight: bold;
}

.datepicker.short
{
    width: 250px !important;
}

/* Form Elements
========================================================================== */
form 
{
    //margin-top: 30px;

    label
    {
        color: $label-dk-grey;
        float: left;
        font-size: 17px;
        margin-bottom: 5px;
        width: 100%;
    }
}

.field 
{
    @include BodyFont;
    clear: both;
    color: $form-dk-grey;
    display: block;
    float: left;
    font-size: 16px;
    padding-bottom: 5px;
    width: 100%;
    //margin-left: 25px; 

    textarea
    {
        width: 100%;
    }

}

.field.horizontal
{
    float: left;
    width: auto;
    clear: none;
}

.field.horizontal.postal
{
    margin-left: 24px;
}

input[type="text"].short 
{
    width: 144px;
}

input[type="text"].medium 
    {
        width: 180px;
    }

.field.navigation
{
    margin-left: 0;
    position: relative;
    bottom: 0;
}

.field.navigation.formSubmit
{
    width: auto;
    margin-top: 20px;
}

.field.add-room
{
    //margin-left: 10px;
}

input[type="text"],
input[type="password"],
textarea
{
    @include BodyFont;
    border: 1px solid $lt-grey;
    clear: both;
    color: $form-dk-grey;
    float: left;
    font-size: 17px;
    height: 34px;
    padding: 5px;
    width: 400px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

textarea
{
    height: 200px;
    resize: vertical;
    padding: 10px;
}

.field.radio
{
    padding-left: 0;
    margin-right: 10px;
}

.input.radio 
{
    float: left;
    padding-left: 0;
    margin-top: 0;
    margin-right: 10px;

    .rbox
    {
        background: url(#{$img}/icon-radio.png) 0 0 no-repeat;
        cursor: pointer;
        display: inline-block;
        float: left;
        height: 20px;
        width: 20px;
        padding-right: 30px; 
        // margin-left: 5px
    }

    .rbox.active
    {
        background-position: 0 -19px;
    }


    label
    {
        line-height: 21px;
        padding-right: 10px;
        font-size: 22px;
        float: left;
        width: auto;
    }

    label.clear
    {
        clear: both;
        line-height: 21px;
        width: 100%;
    }
}

.input.cbox
{
    background: url(#{$img}/bigCheckbox.png) 0 0 no-repeat;
    width: 63px;
    height: 65px;
    margin-right: 50px; 
    cursor: pointer;
}

.input.cbox.active
{
    background: url(#{$img}/bigCheckbox.png) 0 -65px no-repeat;
    width: 63px;
    height: 65px;
    cursor: pointer;
}

.input.select
{
    margin-bottom: 20px;
}

.dropdown-toggle
{
    background: $white url(#{$img}/img-dropdown-arrow.png) right 0 no-repeat;
    border: 1px solid $lt-grey;
    color: $form-dk-grey;
    display: inline-block;
    height: 34px;
    margin: 0;
    // margin-top: 10px;
    padding: 0 0 0 10px;
    width: 220px;
    line-height: 32px
}

a.dropdown-toggle,
a.dropdown-toggle:hover,
a.dropdown-toggle:active,
a.dropdown-toggle:visited
{
    color: $form-dk-grey;
}

a.dropdown-toggle:hover
{
    text-decoration: none;
}

.dropdown-menu
{
    width: 230px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin-top: -1px;
    max-height: 150px;
    overflow: auto;

    li 
    {

        a 
        {
            color: $form-dk-grey;
        }

        a:hover 
        {
            background: none;
            color: $orange;
        }
    }
}

label.error 
{
    color: $red;
    display: none !important;
}

input.error,
textarea.error
{
    background: red;
    color: white;
}

.input.radio 
{
    .rbox.error
    {
        background-position: 0 -38px;
    }
}

a.dropdown-toggle.error
{
    background-color: $red;
    color: $white;
}

.errorList
{
    display: none;
    float: left;
    margin-left: 10px;
    font-size: 18px;
    margin-top: 20px;

    .errorNote
    {
        color: $red;
    }
}

#InventoryWriteIn_ifr
{
    #tinymce 
    {
        font-size: 15px !important;    
    }
    
}

// MODALS
// ========================================================================
.modal-body
{
    p,li
    {
        font-size: 18px;
        font-weight: 300;
        line-height: 30px;
    }
}

.modal-footer
{
    button 
    {
        @include button;
        font-size: 14px;
        width: auto;
        padding: 5px 10px;
        border-width: 1px;
    }

    button.cancel
    {
        float: left;
        background: white;
        color: #333;
        border-color: #adadad;
    }

    button.submit 
    {
        float:right;
    }

    button.submit:hover
    {
        background: #c94e15;
        border-color: #8f8377;
    }
}

/* Framework
========================================================================== */
#main-wrapper 
{
    width: 100%;
	min-width: 1024px;

    .nav-wrapper
    {
        width: 1024px;
        margin: 0 auto;
        padding-top: 20px;
    }

    .header,
    .footer,
    .body
    {
        width: 1024px;
        margin: 0 auto;
        clear: both;
    }

    .header
    {
        height: 100px; 
        background: url(#{$img}/img-header-bg.png) 0 0 repeat-x;
        width: 100%;

        ul 
        {

            li 
            {
                float: left;
                padding: 10px 15px 10px 0;
                font-size: 15px;

                a 
                {
                    text-decoration: none;
                    background: none; 
                    padding: 5px 0;
                }

                a,
                a:visited
                {
                    color: $white;
                }

                a:hover,
                a:active
                {
                    color: $lt-brown;
                    border-bottom: 2px solid $orange;
                    background: none;
                }

                a.about 
                {
                    color: $orange;
                    background: $dk-brown;
                    border: 1px solid $bord-lt-brown;
                    padding: 5px 10px;
                }

                a.about:hover
                {
                    color: $orange;
                }
            }

            li.logo-interior
            {
                margin-top: -24px;

                a,a:active,a:hover,a:visited
                {
                    text-decoration: none !important;
                     border-bottom: none;
                }
            }

            li.bar 
            {
                border-right: 1px solid #8f8377;
                padding: 0;
                //height: 20px;
                margin-top: 8px;
            }

            li.about 
            {
                padding: 10px 0;
            }
        }

        .main-nav
        {
            float: left;
            position: relative;
            //left: 100px;
            padding: 4px 0 0 0;
            //width: 100%;

            ul 
            {
                // margin: 0;
                padding: 0 !important; 
            }

            .logout
            {
                margin-top: 10px;
                font-size: 14px;
            }
        }

        .main-nav.adminnav
        {
            width: 100%;
        }

        .sub-nav
        {
            float: right;
            position: relative;
            right: 10px;
            padding-top: 6px;

            li 
            {
                padding: 12px 5px;
                font-size: 11px;

                a 
                {
                    padding: 5px 0;
                }
            }

            li.title
            {
                color: $lt-brown;
            }

            li#angies
            {
                a:hover 
                {
                    text-decoration: none;
                    border: none;
                }

                img 
                {
                    width: 50px;
                    position: relative;
                    top: -10px;
                }
            }
        }
    }
} 


/* Home
========================================================================== */
.home
{
    width: 1024px;

    h1 
    {
        text-align: center;
    }
}

/* About
========================================================================== */

.about
{
    ul 
    {
        padding-left: 0;
        margin-top: 0;

        li 
        {
            font-size: 21px;
            margin-bottom: 20px;
            font-weight: 300;

            h2 {
                margin-bottom: 3px;
                margin-top: 0;
            }
        }
    }
}

/* FAQ
========================================================================== */

.faq 
{
    h2
    {
        margin-bottom: 5px;
    }

    p 
    {
        margin-top: 0;
        line-height: 26px;
    }
}





/* Estimate
========================================================================== */



.estimate 
{
    .content
    {
        //width: 1100px;
        //height: 800px;
        width: 100%;
        margin-right: 0;

        .estimate-wrapper 
        {
            width: $estimateWidth;
            // height: auto;
            float: left;
            // overflow:hidden;
            // border: 1px solid #000;

            .container
            {
                //overflow-x: hidden;
               // overflow-y: visible;
                min-height: 776px;
                
                #slides
                {
                    

                    .menu
                    {
                        margin-top: 20px;
                        // float: left;
                        width: $estimateWidth;
                        margin: 0 auto;
                        padding-bottom: 30px;
                        float: left;
                        //padding: 15px 15px 30px 15px;

                        ul.menu-ul 
                        {
                            padding: 0 !important;
                            margin: 0;

                            li
                            {
                                display: block;
                                float: left;
                                width: auto;
                                height: 25px;
                                font-size: 16px; 
                                margin-right: 10px;

                                // span
                                // {
                                //     font-size: 20px; 
                                // }

                                a,
                                a:hover,
                                a:active,
                                a:visited
                                {
                                    text-decoration: none;
                                    color: $lt-grey;

                                    span.a
                                    {
                                        font-family: 'Georgia', serif;
                                        font-style: italic;
                                        padding-right: 10px;
                                        color: $lt-grey;
                                    }

                                    span.b 
                                    {
                                        padding-left: 10px;
                                        color: $lt-grey;
                                    }
                                }

                                a.current,
                                a.current:hover,
                                a.current:active,
                                a.current:visited 
                                {
                                    text-decoration: none;

                                    span.a
                                    {
                                        font-family: 'Georgia', serif;
                                        font-style: italic;
                                        padding-right: 10px;
                                        color: $dk-brown;
                                        font-weight: 400;
                                    }

                                    span.b 
                                    {
                                        padding-left: 10px;
                                        color: $orange;
                                    }
                                }
                                
                            }

                            li.start
                            {
                                //width: 110px !important;
                                //margin-right: 25px;
                            }

                            li.review
                            {
                                width: 193px !important;
                                margin-right: 0;
                            }
                        }
                    }

                    .slides_container 
                    {
                        width: $estimateWidth;
                        display: block;
                        overflow: visible !important;
                        float: left;
                        //margin-top: 15px; 

                        .slide
                        {
                            margin-top: 20px;
                            //width: auto;
                            margin: 20px auto;
                            //padding-left: 25px; 
                            // min-height: 500px;
                            //border-top: 1px solid #ccc;
                            padding: 20px;
                            float: left;
                            height: auto;
                            color: $white;

                                label
                                {
                                    color: #C9C9C9;
                                }

                                .inventory
                                {

                                    .room 
                                    {
                                        margin: 0 0 20px 10px;
                                        display: none;
                                        position: relative;

                                        .custom-entry
                                        {
                                            border: 1px solid $bord-lt-brown;
                                            float: left;
                                            padding: 5px;
                                            background: $white;
                                            position: absolute;
                                            z-index: 100;
                                            bottom: 66px;
                                            left: 47px;

                                            p.title
                                            {
                                                font-size: 16px;
                                                font-weight: 400;
                                                margin: 0;
                                                color: $dk-brown;
                                            }

                                            input
                                            {
                                                height: 16px;
                                                border: 1px solid $lt-grey;
                                                font-size: 14px;
                                                padding: 4px;
                                            }

                                            span.ui-icon-circle-close
                                            {
                                                position: absolute;
                                                top: 3px;
                                                right: 3px;
                                            }
                                        }

                                        .roomTitle
                                        {
                                            font-size: 18px;
                                            margin-bottom: 5px;

                                            span.ui-icon 
                                            {
                                                background-image: url(#{$img}/ui-icons_888888_256x240.png) !important;
                                            }
                                        }

                                        .removeRoom
                                        {
                                            display: inline-block;
                                            float: left;
                                            margin: 5px 5px 0 0;
                                            cursor: pointer;
                                        }

                                        .roomList
                                        {
                                            min-height: 25px;
                                            width: auto;
                                            border: 1px solid $lt-grey;
                                            padding: 15px;
                                            background: $white;
                                            position: relative;
                                            overflow: auto;

                                            ul 
                                            {
                                                margin: 0;
                                                padding: 0;

                                                li 
                                                {
                                                    font-size: 16px;
                                                    margin: 0 0 5px 0px;
                                                    //cursor: pointer; 
                                                    color: $form-dk-grey;
                                                    
                                                    span
                                                    {
                                                        width: 12px;
                                                        height: 15px;
                                                        display: inline-block; 
                                                        padding-right: 5px;
                                                    }

                                                }

                                                li.active
                                                {
                                                    // a.dropdown-toggle
                                                    // {
                                                    //     margin-right: 5px;
                                                    // }

                                                    .addList
                                                    {
                                                        //width: 860px;

                                                        .chx
                                                        {
                                                            //float: left;
                                                            width: 200px;
                                                            height: 30px;

                                                            input 
                                                            {
                                                                float: left;
                                                                margin-right: 5px;
                                                            }

                                                            input[type="text"]
                                                            {
                                                                width: 142px;
                                                                font-size: 14px;
                                                                padding: 0 0 0 5px;
                                                                font-weight: normal;
                                                            }

                                                            .removeItem
                                                            {
                                                                top: 3px;
                                                                left: -5px;
                                                                cursor: pointer;
                                                                width: 15px;
                                                                background: url(/Content/themes/base/images/ui-icons_222222_256x240.png)/*{iconsContent}*/;
                                                                background-position: -32px -192px;
                                                            }

                                                            label 
                                                            {
                                                                float: left;
                                                                width: auto;
                                                                font-size: 13px;
                                                                color: $dk-brown;
                                                            }

                                                            .cont-chx, .cont-qty, .cont-label
                                                            {
                                                                float: left;
                                                                height: 20px;
                                                                margin-right: 5px;
                                                                display: block;
                                                            }

                                                            .cont-chx
                                                            {
                                                                input[type="checkbox"]
                                                                {
                                                                    width: 20px;
                                                                    height: 20px;
                                                                    margin-top: 2px;
                                                                }
                                                            }

                                                            .cont-qty 
                                                            {
                                                                input.qty
                                                                {
                                                                    width: 25px;
                                                                    font-size: 12px;
                                                                    padding-left: 0;
                                                                    height: 25px;
                                                                    text-align: center;
                                                                }
                                                            }

                                                            .cont-label 
                                                            {
                                                                label 
                                                                {
                                                                    margin-top: 3px;
                                                                }
                                                            }
                                                        }

                                                        .chx.custom{
                                                            //margin-top: 15px;
                                                            width: 100%;
                                                            clear: both;
                                                            padding-top: 6px;
                                                            display: block;
                                                        }

                                                        .chx-customItem
                                                        {
                                                            margin-top: 15px;
                                                            clear: both;
                                                            margin: 25px 0;
                                                            clear: both;
                                                            display: block;
                                                            padding: 10px 0;

                                                            .cont-qty
                                                            {
                                                                margin-top: 3px;
                                                            }

                                                            .cont-label
                                                            {
                                                                margin-top: 2px;
                                                            }
                                                        }

                                                       
                                                    }



                                                    .ui-icon-circle-close
                                                    {
                                                        position: relative;
                                                        top: -3px;
                                                        left: 3px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    
                                }

                                .startingfrom
                                {
                                    font-size: 28px;
                                    font-weight: 800;
                                    font-family: "Georgia", serif;
                                    font-style: italic;
                                    margin-bottom: 25px;
                                    text-align: center;
                                }

                                p 
                                {
                                    font-size: 25px;
                                }

                                p.heading 
                                {
                                    font-weight: 400;
                                    margin-top: 0;
                                    line-height: 34px;

                                    .Q 
                                    {
                                        color: $orange;
                                        font-weight: 700;
                                    }
                                }

                                p.heading.bigCheckbox
                                {
                                    color: white;
                                    float: left;
                                    display: block;
                                    width: 550px;
                                    margin-left: 82px;
                                }
                                
                                ol
                                {
                                    padding-left: 20px;
                                    list-image: decimal;

                                    li
                                    {
                                        float: none; 
                                        height: auto;
                                        font-size: 25px;
                                        margin-left: 25px;
                                        line-height: 30px;
                                    }
                                }
                                
                                .question
                                {
                                    // margin-bottom: 25px;
                                    float: left;
                                    width: 100%;

                                    .left,
                                    .middle,
                                    .right
                                    {
                                        float: left;
                                    }

                                    .left,
                                    .right
                                    {
                                        width: 50%;
                                    }

                                    .middle
                                    {
                                        width: 170px;
                                        border: 1px solid transparent
                                    }
                                }

                                .question.hiddener,
                                 .question.hiddener2
                                {
                                    display: none;
                                    margin-top: 20px;
                                    //margin-left: 20px;

                                    p.heading 
                                    {
                                        border: none;
                                        padding: 0 !important;  
                                    }
                                }
                        }

                        .slide.odd
                        {
                            background: rgba(59, 44, 28, .8);
                            -webkit-box-shadow: 0 0 2px 1px #000;
                            -moz-box-shadow: 0 0 2px 1px #000;
                            box-shadow: 0 0 2px 1px #000;
                            border-radius: 5px; 
                            -moz-border-radius: 5px; 
                            -webkit-border-radius: 5px; 
                            border: 1px solid #5F5F5F;
                            width: 100%;
                        }

                        .slide.even
                        {
                            background-color: $block-brown;
                            -webkit-box-shadow: 0 0 2px 1px #000;
                            -moz-box-shadow: 0 0 2px 1px #000;
                            box-shadow: 0 0 2px 1px #000;
                            border-radius: 5px; 
                            -moz-border-radius: 5px; 
                            -webkit-border-radius: 5px; 
                            border: 1px solid #5F5F5F;
                            width: 100%;
                        }

                        .slide.intro 
                        {
                            color: #333;
                            margin: 0 auto;
                            margin-top: 20px;
                            margin-bottom: 20px;
                            background: $white;
                            border-radius: 5px; 
                            -moz-border-radius: 5px; 
                            -webkit-border-radius: 5px; 
                            -webkit-box-shadow: 0 0 2px 1px #000;
                            -moz-box-shadow: 0 0 2px 1px #000;
                            box-shadow: 0 0 2px 1px #000;
                            width: 100%;
                        }

                    }

                    // .slides_container div {
                    //     width: 1100px;
                    //     height: 550px;
                    //     display: block;
                    // }
                }

                
            }
        }
    }
}

/* Slider
========================================================================== */
/*
    Slides container
    Important:
    Set the width of your slides container
    Set to display none, pevents content flash
*/


/*
    Each slide
    Important:
    Set the width of your slides
    If height not specified height will be set by the slide content
    Set to display block
*/


/*
    Optional:
    Reset list default style
*/
.pagination {
    list-style: none;
    margin: 0;
    padding: 0;
}

/*
    Optional:
    Show the current slide in the pagination
*/
.pagination .current a {
    color: red;
}

/* Admin
========================================================================== */

.editor-field
{
    position: relative;
    left: 100px;
    margin-bottom: 25px;
}

.field-validation-error
{
    display: block;
    clear: both;
    color: red;
    padding-top: 5px;
}

.admin-submit
{
    background: white;
    padding: 5px 15px;
    border: 1px solid #acaba9;
    font-family: 'Oswald', sans-serif;
    color: #73726e;
    font-size: 17px;
}

.pagination-container{
    ul 
    {
        li 
        {
            float: left;
            display: inline-block;
            margin-right: 10px;

            a
            {
                padding: 5px 10px;
                background: white;
            }
        }
    }
}



.admin 
{
    .form-group
    {
        margin: 0 0 20px 0;
        float: left;
        clear: both;

        label 
        {
            font-size: 14px;
            margin: 0 0 10px 0;
            display: block;
            clear: both;
            float: none;
        }

        input[type="text"]
        {
            display: block;
            width: 500px;
        }
    }

    .gen-button-right
    {
        @include gen-button; 
        float: right;
    }

    .gen-button
    {
        @include gen-button; 
    }

    //margin-left: 25px;
    padding-bottom: 100px;

    .form-group
    {
        margin-bottom: 15px;
        overflow: hidden;
    }

    .save-cancel
    {
        display: block;
        clear: both;
        //padding-top: 10px;
        overflow: auto;

        ul 
        {
            margin: 0;
            padding: 0;

            li 
            {
                display: inline-block;
                margin-right: 10px;
                float: left;

                .btn
                {
                    width: auto;
                    padding: 5px 10px;
                    font-size: 16px;

                }
            }
        }
    }

    .loginfail 
    {
        font-size: 18px;
        margin-bottom: 15px;
        color: red;
    }

    input[type="submit"].btn.content
    {
        margin-left: 100px;
        width: 150px;
    }

    input[type="text"]
    {
        //margin-top: -25px;
        padding: 5px;
    }

    h2
    {
        margin-bottom: 25px;
    }

    table 
    {
        margin-bottom: 25px;

        tr 
        {
            td, th 
            {
                padding: 5px 5px 5px 0;
                font-size: 16px;
                text-align: left;
                padding-right: 25px;
            }

            td 
            {
                border-bottom: 1px solid $lt-brown;
            }

        }
    }

    .btn-submit
    {
        clear: both;
    }

    .btn.text 
    {
        margin-left: 100px;
        width: auto;
    }

    span.pages 
    {
        float: left;
        margin-right: 10px;
    }

    .pagination 
    {
        float: left;

        ul 
        {
            padding: 0;
            margin: 0;

            li 
            {
                float: left;
                width: 15px;
                text-align: center;
            }
        }
    }

}

.account-login
{
    ul 
    {
        margin: 0;
        padding: 0;

        li 
        {
            display: block;
            overflow: auto;

            input[type="text"]
            {
                margin-bottom: 10px;
            }
        }
    }

    input[type="submit"]
    {
        padding: 5px 10px;
        font-size: 16px;
        margin: 10px 0 0 0;
    }
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    //*text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}